style "taffybar-default" {
  color["black"] = "#333333"
  color["white"] = "#cccccc"
  color["green"] = "#99ee99"
  color["red"] = "#ff777a"
  color["blue"] = "#5599ff"
  color["purple"] = "#cc99cc"
  color["orange"] = "#f99157"
  color["yellow"] = "#ffcc66"

  bg[NORMAL] = @black
  fg[NORMAL] = @white
  text[NORMAL] = @white
  fg[PRELIGHT] = @green
  bg[PRELIGHT] = @black

  font_name = "Source Han Sans 14"
  }

  style "taffybar-active-window" = "taffybar-default" {
  fg[NORMAL] = @green
  bg[NORMAL] = @black
  font_name = "Source Han Sans 14"
  }

  style "taffybar-notification-button" = "taffybar-default" {
  text[NORMAL] = @red
  fg[NORMAL] = @red
  }

  widget "Taffybar*" style "taffybar-default"
  widget "Taffybar*WindowSwitcher*label" style "taffybar-active-window"
  widget "*NotificationCloseButton" style "taffybar-notification-button"
